* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #e0e0e0;
}

em {
  color: #7650dc;
  font-weight: 500;
}

.grid-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
  font-size: 1.5rem;
}

img {
  width: 150px;
  height: auto;
  margin: 10px 0;
}

.small {
  font-size: 0.95rem;
}

span {
  color: hsl(39, 100%, 71%);
  font-weight: 500;
}
/* 
.grid-card {
  line-height: 1.25;
  font-size: 1.5rem;
  color: hsl(0, 0%, 7%);
  font-weight: 500;
  letter-spacing: -0.25px;
} */

.grid-card-1 {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  padding: 1.25rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1.8rem;
}
.grid-card-2 {
  background-color: hsl(0, 0%, 100%);
  padding: 1.25rem;
  border-radius: 10px;
}
.grid-card-3 {
  background-color: hsl(39, 100%, 71%);
  padding: 1.25rem;
  border-radius: 10px;
}
.grid-card-4 {
  background-color: hsl(254, 88%, 90%);
  padding: 1.25rem;
  border-radius: 10px;
}
.grid-card-5 {
  background-color: hsl(256, 67%, 59%);
  padding: 1.25rem;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
}
.grid-card-6 {
  background-color: hsl(0, 0%, 100%);
  padding: 1.25rem;
  border-radius: 10px;
}
.grid-card-7 {
  background-color: hsl(31, 66%, 93%);
  padding: 1.25rem;
  border-radius: 10px;
  /* grid-column: span 1;
  grid-row: span 2; */
}
.grid-card-8 {
  background-color: hsl(39, 100%, 71%);
  padding: 1.25rem;
  border-radius: 10px;
}
